:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --branding-color: rgb(0, 162, 255);
  --heading-font-family: sans-serif;
  --default-font-family: "Nunito", sans-serif;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --background-color: linear-gradient(
    270deg,
    rgb(233, 194, 213) 0%,
    rgb(184, 192, 222) 100%
  );
}
body {
  margin: 100px 0;
  background-color: var(--background-color);
  font-family: var(--default-font-family);
}
.container {
  background-color: #fff;
  border: 2px solid green;
  
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
}
.about-section {
  padding: 160px 20px;
}
.about-section h1 {
  font-size: 64px;
  line-height: 60px;
}

.about-section h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.about-section-content {
  margin: 30px;
}
.btn-branding {
  background-color: var(--branding-color);
  border-radius: 4px;
  color: #fff;
  font-size: 20px;
  line-height: 27px;
  padding: 15px 30px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }

  h2 {
    font-size: 44px;
  }
  .hero {
    padding: 80px 20px;
  }
  .about-section {
    text-align: center;
    padding: 0;
    margin: auto 5px;
  }
  p {
    text-align: center;
  }

  .project-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }
}
